header {
    background-color: rgb(68, 160, 252);
    height: 150px;
    width: 100%;
    background-image: url(../img/pattern.png);
    position: relative;
}

.logo {
    height: 50%;
    position: absolute;
    bottom: 0;
}

.grey {
    color: lightslategrey;
}

.author {
    color: aqua;
}

.date {
    color: lightslategrey;
    font-size: 10px;
}

.sharpen {
    background-color: #FFFF00;
}


table {
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    text-align: left;
    padding: 4px;
}

.table-head {
    color: white;
    background-color: dodgerblue;
}

.table-blue {
    background-color: lightblue;
}