header {
    background-color:rgb(68, 160, 252);
    height:150px;
    width:100%;
    background-image: url(../img/pattern.png);
    position:relative;
}   

.logo {
    height:50%;
    position:absolute;
    bottom:0;
}